.appartments
    &__container
        padding: 40px 0 100px
        display: flex
    &__title-wrapper
        margin-bottom: 80px
    &__content
        max-width: 510px
        min-width: 510px
        padding-left: 40px
        margin-right: 90px
    &__text
        font-family: 'GT Pressura Mono'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 125%
        margin-bottom: 80px
    &__btns
        display: flex
    &__more
        height: 48px
        padding: 0 16px
        font-weight: 500
        font-size: 20px
        margin-right: 40px
    &__skip
        font-weight: 500
        font-size: 18px
        color: #8A8A8A
        padding: 4px 10px
        background: transparent
    &__mobile-list
        display: none
    &__list
        padding-left: 100px
        max-width: calc(100% - 600px)
    &__list-item
        margin-bottom: 150px
        &:last-child
            margin-bottom: 0
    &__carousel-wrapper
        display: flex
        position: relative
        & .controls
            position: absolute
            top: 50%
            left: -80px
            transform: translateY(-50%)
            display: flex
            flex-direction: column
            align-items: center
            padding: 2px 0
            transform: translateY(-50%)
            &__item
                width: 52px
                height: 40px
                border-radius: 300px
                background: $primary-color
                margin: 10px 0
                display: flex
                align-items: center
                justify-content: center
                cursor: pointer
                transition: transform .5s ease-out
                &::before
                    z-index: 0
                &:hover
                    & svg path
                        fill: $primary-color
                &:active
                    background: transparent  
                &.left svg
                    transform: translateX(-2px)
                &.right svg
                    transform: translateX(1px)
    &__item
        padding: 0 10px
        width: fit-content
    &__img
        border-radius: 20px
        overflow: hidden
        max-height: 540px
        width: fit-content
        & img
            border-radius: 20px
            height: 100%
    &__description
        position: absolute
        bottom: -20px
        left: 270px
        transform: translateY(100%)
        font-weight: 400
        font-size: 25px
        line-height: 105%

@media screen and (max-width: 1680px)
    .appartments
        &__content
            max-width: 440px
            min-width: 440px
        &__list
            max-width: calc(100% - 530px)

@media screen and (max-width: 1340px)
    .appartments
        &__content
            max-width: 395px
            min-width: 395px
            padding-left: 20px
        &__list
            max-width: calc(100% - 485px)
        &__skip
            padding: 0
        &__description
            left: 200px

@media screen and (max-width: 1240px)
    .appartments
        &__content
            max-width: 350px
            min-width: 350px
            margin-right: 80px
        &__list
            max-width: calc(100% - 430px)
        &__skip
            padding: 0
        &__description
            left: 100px
        &__btns
            width: calc(100% + 40px)

@media screen and (max-width: 1024px)
    .appartments
        &__container
            flex-direction: column
            padding: 40px 0
        &__content
            max-width: 100%
            min-width: 100%
            margin-right: 0
        &__btns
            width: 100%
            margin-top: 40px
        &__text
            margin-bottom: 20px
        &__skip
            display: none
        &__list
            display: none
        &__mobile-list
            display: block
            margin-bottom: 80px
            & .accordeon
                position: relative
                &:last-child::after
                    content: ''
                    position: absolute
                    bottom: 0
                    left: 0
                    right: 20px
                    height: 2px
                    background: $primary-color
                &__head
                    padding: 30px 0
                    margin-right: 20px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    border-top: 2px solid $primary-color
                &__description
                    font-size: 30px
                    line-height: 105%
                    letter-spacing: -0.025em
                &__images-wrapper
                    width: 100%
                    overflow-x: scroll
                    overflow-y: hidden
                    transition: max-height 0.2s ease-out
                    -ms-overflow-style: none
                    scrollbar-width: none
                    &::-webkit-scrollbar
                        display: none
                &__images
                    width: fit-content
                    display: flex
                &__item
                    width: 45vw
                    padding: 10px 20px 70px 0
                &__img
                    width: 100%
                    border-radius: 20px
                    overflow: hidden
                    & img
                        width: 100%
                        border-radius: 20px

@media screen and (max-width: 600px)
    .appartments
        &__mobile-list
            & .accordeon
                &__description
                    font-size: 25px
                &__item
                    width: 80vw

@media screen and (max-width: 600px)
    .appartments
        &__mobile-list
            & .accordeon
                &__item
                    width: 90vw