.baner
    width: 100%
    min-height: 100vh
    padding-top: 132px
    overflow: hidden
    &__label
        margin: 0 auto
        display: block
        width: fit-content
        padding: 8px 18px
        font-size: 22px
        font-weight: 500
        line-height: 125%
        letter-spacing: -0.025em
        color: #404040
        background: $secondary-color
        border-radius: 300px
        margin-bottom: 40px
        opacity: 0
        transform: translateY(-100%)
        transition: opacity .5s ease-out, transform .5s ease-out
        &.shown
            opacity: 1
            transform: translateY(0%)
    &__title-wrapper
        overflow: hidden
    &__title
        text-align: center
        text-transform: uppercase
        transform: translateY(100%)
        transition: transform .5s ease-out
        &.shown
            transform: translateY(0)
    &__hero-wrapper
        overflow: hidden
    &__hero
        width: 100%
        display: flex
        justify-content: space-between
        margin-top: 170px
        margin-bottom: 40px
        transform: translateY(150%)
        transition: transform .5s linear 0.25s
        &.shown
            transform: translateY(0)
    &__text
        font-family: 'GT Pressura Mono'
        font-weight: 400
        font-size: 20px
        line-height: 125%
        letter-spacing: -0.025em
        color: $primary-color
    &__first-text
        max-width: 320px
    &__second-text
        max-width: 525px
    &__mobile
        display: none

@media screen and (max-width: 1640px)
    .baner
        &__second-text
            max-width: 405px

@media screen and (max-width: 1240px)
    .baner
        &__hero
            margin-top: 80px

@media screen and (max-width: 1060px)
    .baner
        &__title
            width: 100%
            & svg
                width: 100%
                height: fit-content

@media screen and (max-width: 1024px)
    .baner
        &__hero
            margin-top: 80px
        &__text
            font-size: 16px
        &__second-text
            max-width: 380px

@media screen and (max-width: 768px)
    .baner
        &__wrapper
            display: flex
            flex-direction: column-reverse
            margin-top: 40px
        &__hero
            margin-top: 20px
            margin-bottom: 60px
            flex-direction: column
        &__first-text
            max-width: 100%
            width: 100%
            margin-bottom: 40px
        &__second-text
            max-width: 100%
            width: 100%

@media screen and (max-width: 600px)
    .baner    
        &__desctop
            display: none
        &__mobile
            display: block

@media screen and (max-width: 375px)
    .baner
        padding-top: 100px
        &__label
            font-size: 20px
            padding: 6px 12px