$primary-color: #404040
$secondary-color: #EFA7E8

*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  padding: 0
  cursor: none !important

ul
  list-style: none
a, a:visited
  text-decoration: none

body
  font-family: 'Coil'
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -ms-overflow-style: none
  scroll-behavior: smooth

main
  background: transparent
  color: $primary-color
  cursor: url('../assets/cursor/down.svg'), auto
  overflow-x: hidden
  transition: background 1s ease-in-out, color .3s ease-in-out
  &.showMenu
    transition: transform 1s cubic-bezier(.38,.84,.52,.99)
  &.dark
    background: $primary-color
    color: #fff
    & .places-carousel__spin svg path
      fill: #fff

picture img
  width: 100%

.container
    margin: 0 auto
    padding: 0 40px
    max-width: 1920px
.section
    width: 100%
    padding: 85px 0
.btn
    appearance: none
    border: none
    outline: none
    display: block
    cursor: pointer
    font-family: 'Coil'
.primary-btn
    position: relative
    background: transparent
    display: flex
    justify-content: center
    align-items: center
    border: 2px solid #404040
    border-radius: 300px
    color: #404040
    &::before
        position: absolute
        content: ''
        top: 0px
        bottom: 0px
        left: 0px
        right: 0px
        border-radius: 300px
        z-index: -1
        opacity: 0
        transition: opacity .3s ease-out
        background: linear-gradient(108.36deg, #7C84F3 15.1%, #949AE9 34.9%, #90BFE8 48.96%, #8CD9E7 66.67%, #88FBE6 77.6%)
    &:hover
      color: #404040
      border-color: #404040
    &:hover::before
        opacity: 1

.anim-title
  display: flex
  align-items: center
// .anim-title 
//   & div
//     transition: transform 3s ease-in-out
//     transform: translateY(100%)
.anim-item.anim-active.anim-title-active
  & div
    transition: transform 3s ease-in-out
    transform: translateY(0%) !important
.anim-active.anim-title-second
  & div
    transition: transform 3s ease-in-out
    transform: translateY(0%) !important

.d-none
  display: none !important
.no-events
  pointer-events: none
.overflow-hidden
  overflow: hidden

#cursor
  position: fixed
  width: 80px
  height: 72px
  z-index: 999
  transform: translate(-50%, -50%)
  pointer-events: none
  transition: background .3s ease
  &.up
    background: url('../assets/cursor/up.svg') no-repeat
    background-size: cover
  &.down
    background: url('../assets/cursor/down.svg') no-repeat
    background-size: cover
  &.scroll
    background: url('../assets/cursor/scroll.svg') no-repeat !important
    background-size: cover
  &.pointer
    background: url('../assets/cursor/pointer.svg') no-repeat !important
    background-size: cover
#cursor-shadow
    position: fixed
    width: 100px
    height: 70px
    left: 0px
    top: 0px
    background: #7C84F3
    filter: blur(25px)
    z-index: 900
    pointer-events: none
    transform: translate(-50%, -50%)
    transition: transform .2s linear

@media screen and (max-width: 1340px)
  .container
    padding: 0 20px

@media screen and (max-width: 375px)
  .container
    padding: 0 10px