*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  padding: 0
  scroll-behavior: smooth

ul
  list-style: none
a, a:visited
  text-decoration: none

body
  font-family: 'Montserrat', sans-serif
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

main
  overflow-x: hidden

picture img
  width: 100%

.container
    margin: 0 auto
    padding: 0 40px
    max-width: 1320px
.section
    width: 100%
.btn
    appearance: none
    border: none
    display: block
    cursor: pointer
    z-index: 1

// .title
//   font-weight: 700
//   font-size: 70px
//   line-height: 102.4%
//   letter-spacing: -0.025em

.d-none
  display: none !important
.no-events
  pointer-events: none
.overflow-hidden
  overflow: hidden
