.header
    width: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px
    font-family: 'Coil'
    font-weight: 500
    font-size: 20px
    letter-spacing: -0.025em
    color: #404040
    &__nav
        display: flex
        align-items: center
    &__burger
        position: relative
        display: flex
        height: 48px
        width: 64px
        padding: 0px
        background: #404040
        cursor: pointer
        border-radius: 300px
        z-index: 20
        transition: background .3s ease-out
        margin-right: 20px
        &:before
            content: ''
            position: absolute
            width: 24px
            height: 2px
            top: 22px
            left: 20px
            background: #fff
            transition: transform .3s ease-out, background .3s ease-out
            will-change: transform
            transform: translateY(-3px)
        &:after
            content: ''
            position: absolute
            width: 24px
            height: 2px
            top: 26px
            left: 20px
            background: #fff
            transition: transform .3s ease-out, background .3s ease-out
            will-change: transform
            transform: translateY(3px)
        &.active
            background: #fff
            &:before
                background: #404040
                transform: translateY(2px) rotate(45deg)
            &:after
                background: #404040
                transform: translateY(-2px) rotate(-45deg)
    &__select
        padding: 14px 22px
        display: flex
        align-items: center
        cursor: pointer
    &__svg
        display: flex
        align-items: center
        margin-right: 14px
    &__callback
        display: flex
        align-items: center
    &__phone
        text-decoration-line: underline
        font-size: 20px
        letter-spacing: -0.025em
        color: #404040
        margin-right: 20px
    &__button
        position: relative
        background: transparent
        display: flex
        justify-content: center
        align-items: center
        min-width: 196px
        min-height: 48px
        border: 2px solid #404040
        border-radius: 300px
        font-size: 20px
        letter-spacing: -0.025em
        color: #404040
        &::before
            position: absolute
            content: ''
            top: -2px
            bottom: -2px
            left: -2px
            right: -2px
            background: linear-gradient(108.36deg, #7C84F3 15.1%, #949AE9 34.9%, #90BFE8 48.96%, #8CD9E7 66.67%, #88FBE6 77.6%)
            border-radius: 300px
            z-index: -1
            opacity: 0
            transition: opacity .3s ease-out, background .3s ease-out
        &:hover::before
            opacity: 1
        &:active::before
            background: transparent
            border: 2px dashed #88FBE6
            top: -4px
            bottom: -4px
            left: -4px
            right: -4px

@media screen and (max-width: 860px)
    .header
        padding: 20px
        font-family: 'Coil'
        font-weight: 500
        font-size: 18px
        &__select
            padding: 4px 10px
        &__phone
            font-size: 20px
        &__button
            min-width: 167px
            min-height: 40px
            font-size: 18px

@media screen and (max-width: 768px)
    .header
        &__select
            display: none

@media screen and (max-width: 600px)
    .header
        padding: 10px
        &__burger
            height: 40px
            width: 52px
            padding: 0px
            margin-right: 0px
            &:before
                top: 18px
                left: 14px
            &:after
                top: 22px
                left: 14px
        &__button
            display: none
