.header
    width: 100%
    position: fixed
    top: 0
    left: 0
    right: 0
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px
    font-family: 'Coil'
    font-weight: 500
    font-size: 20px
    letter-spacing: -0.025em
    color: $primary-color
    background: transparent
    // background: #fff
    border: 1px solid transparent
    z-index: 10
    transform: translateY(-102%)
    transition: transform .5s ease-in-out, color .5s ease-in-out .5s, background .1s ease-out .5s
    &.shown
        transform: translateY(0%)
        transition: transform .75s ease-in-out
        &.fill
            transition: transform .75s ease-in-out
    &.fill
        background: #fff
    &.dark
        background: $primary-color
        color: #fff
        & .header__burger
            background: #fff
            &:before
                background: $primary-color
            &:after
                background: $primary-color
        & .header__svg path
            fill: #fff
        & .header__phone
            color: #fff
            &::before
                background: #fff
        & .header__button
            border-color: #fff
            color: #fff
    &.disabled
        transition: none
        background: $primary-color
        & .header__select
            opacity: 0
            pointer-events: none
        & .header__callback
            opacity: 0
            pointer-events: none
    &__nav
        display: flex
        align-items: center
    &__burger
        position: relative
        display: flex
        height: 48px
        width: 64px
        padding: 0px
        background: $primary-color
        cursor: pointer
        border-radius: 300px
        z-index: 20
        transition: background .3s ease-out
        margin-right: 20px
        &:before
            content: ''
            position: absolute
            width: 24px
            height: 2px
            top: 22px
            left: 20px
            background: #fff
            transition: transform .3s ease-out, background .3s ease-out
            will-change: transform
            transform: translateY(-3px)
        &:after
            content: ''
            position: absolute
            width: 24px
            height: 2px
            top: 26px
            left: 20px
            background: #fff
            transition: transform .3s ease-out, background .3s ease-out
            will-change: transform
            transform: translateY(3px)
        &.active
            background: #fff
            &:before
                background: $primary-color
                transform: translateY(2px) rotate(45deg)
            &:after
                background: $primary-color
                transform: translateY(-2px) rotate(-45deg)
    &__select
        padding: 14px 22px
        display: flex
        align-items: center
        cursor: pointer
        transition: opacity .3s ease-in-out
    &__svg
        display: flex
        align-items: center
        margin-right: 14px
    &__callback
        display: flex
        align-items: center
        transition: opacity .3s ease-in-out
    &__phone
        display: block
        position: relative
        font-size: 20px
        letter-spacing: -0.025em
        color: $primary-color
        margin-right: 20px
        &::before
            content: ''
            position: absolute
            bottom: 2px
            left: 0
            right: 0
            background: $primary-color
            height: 1px
            transition: opacity .3s ease-in-out
        &:hover
            &::before
                opacity: 0
    &__button
        min-width: 196px
        min-height: 48px
        font-size: 20px
        letter-spacing: -0.025em
        font-weight: 500

@media screen and (max-width: 860px)
    .header
        padding: 20px
        font-family: 'Coil'
        font-weight: 500
        font-size: 18px
        &__select
            padding: 4px 10px
        &__phone
            font-size: 20px
        &__button
            min-width: 167px
            min-height: 40px
            font-size: 18px

@media screen and (max-width: 768px)
    .header
        &__button
            display: none
        &__phone
            margin-right: 0

@media screen and (max-width: 600px)
    .header
        padding: 10px
        &__burger
            height: 40px
            width: 52px
            padding: 0px
            margin-right: 0px
            &:before
                top: 18px
                left: 14px
            &:after
                top: 22px
                left: 14px
        &__select
            display: none
