.parallax
    &__img-wrapper
        width: 100%
        position: relative
    &__img
        width: 100%
        height: 100%
        border-radius: 20px
        overflow: hidden
        & img
            width: 150%
            transform: translate(-20%, -10%)
    &__building
        position: absolute
        top: 0
        left: 50%
        transform: translate(-55%, -17%)
        width: 58.7vw

@media screen and (max-width: 1240px)
    .parallax
        &__building
            display: none
        &__img
            & img
                transform: translate(-20%, 0%)

@media screen and (max-width: 600px)
    .parallax
        &__img
            width: 100%
            height: 100%
            border-radius: 20px
            overflow: hidden
            & img
                width: 100%
                transform: translate(0%, 0%)