.services
    &__container
        padding: 40px 0
    &__title-wrapper
        overflow: hidden
        height: fit-content
        margin-bottom: 40px
        width: fit-content
        margin: 0 auto
        margin-bottom: 40px
    &__title
        font-weight: 400
        font-size: 90px
        line-height: 105%
        letter-spacing: -0.025em
        transform: translateY(100%)
        text-align: center
        transition: transform 1s ease-in-out
        &.anim-active
            transform: translateY(0%)
    &__controls
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 80px
    &__btn
        height: 48px
        padding: 0 16px
        margin: 0 10px
        font-weight: 500
        font-size: 20px
    &__consult
        background: $primary-color
        transition: background .3s ease
        & span
            color: #fff
            z-index: 2
            transition: color .3s ease-out
        &:hover
            background: transparent
            & span
                color: $primary-color
        &::before
            z-index: 0
    &__cards
        display: flex
        align-items: stretch
        justify-content: center
    &__card-wrap
        padding: 0 10px
    &__card
        min-width: 420px
        border-radius: 20px
        background: $primary-color
        padding: 20px
        color: #FFFFFF
        transition: color .3s ease-in-out, background .3s ease-in-out
        &:hover
            background: $secondary-color
            color: $primary-color
            & svg path
                fill: $primary-color
    &__icon
        margin-bottom: 80px
        & svg path
            transition: fill .3s ease-in-out
    &__name
        font-size: 40px
        line-height: 105%
        margin-bottom: 15px
    &__text
        font-family: 'GT Pressura Mono'
        font-weight: 400
        font-size: 20px
        line-height: 125%
        