.services
    &__title-wrapper
        overflow: hidden
        height: fit-content
        margin-bottom: 40px
        width: fit-content
        margin: 0 auto
        margin-bottom: 40px
    &__title
        font-weight: 400
        font-size: 90px
        line-height: 105%
        letter-spacing: -0.025em
        transform: translateY(100%)
        text-align: center
        &.anim-active
            transform: translateY(0%)