@font-face
  font-family: 'GT Pressura Mono'
  src: url('../fonts/Pressura/GT-Pressura-Mono-Regular.otf') format("opentype")
  src: url('../fonts/Pressura/GT-Pressura-Mono-Regular.woff') format('woff')
  src: url('../fonts/Pressura/GT-Pressura-Mono-Regular.woff2') format('woff2')
  src: url('../fonts/Pressura/GT-Pressura-Mono-Regular.ttf')  format('truetype')
  font-style: normal
  font-weight: 400
@font-face
  font-family: 'Coil'
  src: url('../fonts/Coil/Coil-Regular.eot') format("eot")
  src: url('../fonts/Coil/Coil-Regular.otf') format("opentype")
  src: url('../fonts/Coil/Coil-Regular.woff') format('woff')
  src: url('../fonts/Coil/Coil-Regular.woff2') format('woff2')
  src: url('../fonts/Coil/Coil-Regular.ttf')  format('truetype')
  font-style: normal
  font-weight: 400
@font-face
  font-family: 'Coil'
  src: url('../fonts/Coil/Coil-Medium.eot') format("eot")
  src: url('../fonts/Coil/Coil-Medium.otf') format("opentype")
  src: url('../fonts/Coil/Coil-Medium.woff') format('woff')
  src: url('../fonts/Coil/Coil-Medium.woff2') format('woff2')
  src: url('../fonts/Coil/Coil-Medium.ttf')  format('truetype')
  font-style: normal
  font-weight: 500

@import 'general'
@import 'header'
@import 'menu'
@import 'call-modal'
@import 'baner'
@import 'parallax'
@import 'about'
@import 'places'
@import 'live-modal'
@import 'video-modal'
@import 'news-modal'
@import 'gallery-modal'
@import 'map'
@import 'gallery'
@import 'advantages'
@import 'appartments'
@import 'plannings'
@import 'services'
@import 'team'
@import 'news'
@import 'contacts'
@import 'flat-select'
@import 'flat-selected'
@import 'footer'
@import 'filters'
@import 'bottom-filter'
