@font-face {
  font-family: 'GT Pressura Mono Trial';
  src: url("../fonts/pressura/GT-Pressura-Mono-Bold.eot");
  src: url("../fonts/pressura/GT-Pressura-Mono-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/pressura/GT-Pressura-Mono-Bold.woff") format("woff");
  src: url("../fonts/pressura/GT-Pressura-Mono-Bold.ttf") format("truetype");
  src: url("../fonts/pressura/GT-Pressura-Mono-Bold.svg") format("svg");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'GT Pressura Mono Trial';
  src: url("../fonts/pressura/GT-Pressura-Mono-Regular.eot");
  src: url("../fonts/pressura/GT-Pressura-Mono-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/pressura/GT-Pressura-Mono-Regular.woff") format("woff");
  src: url("../fonts/pressura/GT-Pressura-Mono-Regular.ttf") format("truetype");
  src: url("../fonts/pressura/GT-Pressura-Mono-Regular.svg") format("svg");
  font-style: normal;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

body {
  font-family: 'GT Pressura Mono Trial';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  overflow-x: hidden;
}

picture img {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}

.section {
  width: 100%;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
}

.d-none {
  display: none !important;
}

.no-events {
  pointer-events: none;
}

.overflow-hidden {
  overflow: hidden;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  font-family: 'Coil';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.025em;
  color: #404040;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  width: 64px;
  padding: 0px;
  background: #404040;
  cursor: pointer;
  border-radius: 300px;
  z-index: 20;
  -webkit-transition: background .3s ease-out;
  transition: background .3s ease-out;
  margin-right: 20px;
}

.header__burger:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  top: 22px;
  left: 20px;
  background: #fff;
  -webkit-transition: background .3s ease-out, -webkit-transform .3s ease-out;
  transition: background .3s ease-out, -webkit-transform .3s ease-out;
  transition: transform .3s ease-out, background .3s ease-out;
  transition: transform .3s ease-out, background .3s ease-out, -webkit-transform .3s ease-out;
  will-change: transform;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header__burger:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  top: 26px;
  left: 20px;
  background: #fff;
  -webkit-transition: background .3s ease-out, -webkit-transform .3s ease-out;
  transition: background .3s ease-out, -webkit-transform .3s ease-out;
  transition: transform .3s ease-out, background .3s ease-out;
  transition: transform .3s ease-out, background .3s ease-out, -webkit-transform .3s ease-out;
  will-change: transform;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.header__burger.active {
  background: #fff;
}

.header__burger.active:before {
  background: #404040;
  -webkit-transform: translateY(2px) rotate(45deg);
          transform: translateY(2px) rotate(45deg);
}

.header__burger.active:after {
  background: #404040;
  -webkit-transform: translateY(-2px) rotate(-45deg);
          transform: translateY(-2px) rotate(-45deg);
}

.header__select {
  padding: 14px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 14px;
}

.header__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 20px;
  letter-spacing: -0.025em;
  color: #404040;
  margin-right: 20px;
}

.header__button {
  position: relative;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 196px;
  min-height: 48px;
  border: 2px solid #404040;
  border-radius: 300px;
  font-size: 20px;
  letter-spacing: -0.025em;
  color: #404040;
}

.header__button::before {
  position: absolute;
  content: '';
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(108.36deg, #7C84F3 15.1%, #949AE9 34.9%, #90BFE8 48.96%, #8CD9E7 66.67%, #88FBE6 77.6%);
  border-radius: 300px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .3s ease-out, background .3s ease-out;
  transition: opacity .3s ease-out, background .3s ease-out;
}

.header__button:hover::before {
  opacity: 1;
}

.header__button:active::before {
  background: transparent;
  border: 2px dashed #88FBE6;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
}

@media screen and (max-width: 860px) {
  .header {
    padding: 20px;
    font-family: 'Coil';
    font-weight: 500;
    font-size: 18px;
  }
  .header__select {
    padding: 4px 10px;
  }
  .header__phone {
    font-size: 20px;
  }
  .header__button {
    min-width: 167px;
    min-height: 40px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .header__select {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 10px;
  }
  .header__burger {
    height: 40px;
    width: 52px;
    padding: 0px;
    margin-right: 0px;
  }
  .header__burger:before {
    top: 18px;
    left: 14px;
  }
  .header__burger:after {
    top: 22px;
    left: 14px;
  }
  .header__button {
    display: none;
  }
}

.menu {
  background: #4A4A4A;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.menu.active {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.baner {
  display: none;
  min-height: 100vh;
  width: 100%;
}

.baner__label {
  margin: 0 auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.baner__title {
  text-align: center;
  text-transform: uppercase;
}

.footer {
  width: 100%;
}

.modal-display {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.modal-visible {
  opacity: 1 !important;
}

.modal {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.81);
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal__hero {
  background: #000;
  border-radius: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__video {
  border-radius: 20px;
  overflow: hidden;
  width: calc(100vw - 100px);
}

@media screen and (max-width: 768px) {
  .modal__container {
    padding: 0;
  }
  .modal__video {
    width: calc(100vw - 40px);
  }
}

.contact-modal__hero {
  position: relative;
  padding: 32px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5.93%, #1e3e45), color-stop(97.24%, #352550));
  background: linear-gradient(0deg, #1e3e45 5.93%, #352550 97.24%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-modal__message-box {
  content: '';
  position: absolute;
  top: 50%;
  height: 200px;
  left: 10px;
  right: 10px;
  background: #000000E6;
  z-index: 10;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 24px;
  font-size: 18px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  background-image: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}

.contact-modal__message-box.visible {
  opacity: 1;
}

.contact-modal__message-box.loading {
  background-image: url(../assets/gif/loading.gif);
}

.contact-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.contact-modal__close svg {
  width: 18px;
  height: 18px;
}

.contact-modal__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.contact-modal__input-wrapper label {
  color: #fff;
  margin-bottom: 6px;
}

.contact-modal__input-wrapper input {
  outline: none;
  border-radius: 10px;
  border: 1px solid #fff;
  background: transparent;
  padding: 6px 12px;
  color: #fff;
  font-size: 16px;
}

.contact-modal__input-wrapper input::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Montserrat';
}

.contact-modal__input-wrapper input:-ms-input-placeholder {
  color: #fff;
  font-family: 'Montserrat';
}

.contact-modal__input-wrapper input::-ms-input-placeholder {
  color: #fff;
  font-family: 'Montserrat';
}

.contact-modal__input-wrapper input::placeholder {
  color: #fff;
  font-family: 'Montserrat';
}

.contact-modal__input-wrapper textarea {
  outline: none;
  border-radius: 10px;
  border: 1px solid #fff;
  background: transparent;
  padding: 6px 12px;
  color: #fff;
  font-size: 16px;
}

.contact-modal__input-wrapper textarea::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Montserrat';
}

.contact-modal__input-wrapper textarea:-ms-input-placeholder {
  color: #fff;
  font-family: 'Montserrat';
}

.contact-modal__input-wrapper textarea::-ms-input-placeholder {
  color: #fff;
  font-family: 'Montserrat';
}

.contact-modal__input-wrapper textarea::placeholder {
  color: #fff;
  font-family: 'Montserrat';
}

.contact-modal__btn {
  min-height: 60px;
  margin-top: 16px;
  cursor: default;
  color: #fff;
}

.contact-modal__btn::before {
  background: none;
  cursor: default;
}

.contact-modal__btn.active {
  cursor: pointer;
}

.contact-modal__btn.active::before {
  background: linear-gradient(264.04deg, #8AEDFF 5.93%, #6100FF 97.24%);
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .contact-modal .modal__container {
    width: 100%;
  }
}
